#myLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial;

}
#btnContainer{
    text-align: center;
    
}
.btn{
    font-size: 2em;
    margin :0.2em;
    padding: 10px 20px;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    background-color: skyblue;
    transition: background-color 0.15s;
}
.btn:hover{
   background-color:deepskyblue
}
